.footer {
	margin-top: auto;
	//background-color: $primary;
	background: $blue2;
	background: #1F2D3D;
	padding: rem(30) 0 rem(25);

	color: $white!important;
	&__row{
		margin-bottom: rem(30);

		--bs-gutter-x: #{rem(40)};
		--bs-gutter-y: #{rem(30)};
	}
	&__logo{
		display: block;
		max-width: rem(260);

		img{
			max-width: 100%;
			height: auto;
		}
	}

	&__menu{
		& > ul{
			list-style: none;
			padding: 0;
			margin: 0;

			display: flex;
			align-items: center;

			& > li{
				margin-right: rem(24);
				&:last-child{
					margin-right: 0;
				}

				a{
					white-space: nowrap;
					font-weight: 600;
					line-height: calc(25/20);
					color: $white!important;
				}
			}
		}
	}

	.soc{
		display: flex;
		align-items: center;

		&__item{
			width: rem(36);
			height: rem(36);

			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: 100%;
				height: auto;
			}

			margin-right: rem(13);
			&:last-child{
				margin-right: 0;
			}
		}
	}

	&__bot-box{
		padding: rem(15) 0;
		border-top: 1px solid rgba($white, .75);
	}
	&__all-rights{
		font-size: rem(12);
		line-height: calc(15/12);
		color: rgba($white, .75);
	}

	&__{}
	&__{}
}
