// start .sWho
.sWho {
	--sPT: #{rem(80)};
	--sPB: 59px;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
	}
	@include media-breakpoint-up(xxl){
		--sPT: #{rem(159)};
		--sPB: #{rem(185)};
	}

	&__row{
		--bs-gutter-x: #{rem(30)};
	}
	&__col{
		&--right{
			@include media-breakpoint-up(xl){
				width: calc(505px + var(--bs-gutter-x))!important;
			}
		}
		&--left{
			@include media-breakpoint-up(xl){
				width: calc(100% - 505px - var(--bs-gutter-x)) !important;
			}
		}
	}
	&__img{
		display: block;
		border-radius: rem(27);
		overflow: hidden;

		img{
			width: 100%;
			height: auto;
		}
	}
	.section-title{
		//padding-top: 62px;

		h2{
			@include media-breakpoint-down(md){
				font-size: 28px;
				line-height: calc(35/28);
			}

			margin-bottom: 13px;
			@include media-breakpoint-up(md){
				margin-bottom: 10px;
			}
		}
		&__img{
			display: block;
			border-radius: rem(27);
			overflow: hidden;

			img{
				width: 100%;
				height: auto;
			}

			margin-bottom: rem(30);
			@include media-breakpoint-up(md){
				margin-bottom: 0;
			}
		}

		//16px
		p{
			//16px
			&:last-child{
				margin-bottom: 0;
			}

			max-width: 89%;
			margin-left: auto;
			margin-right: auto;
			font-size: 18px;
			margin-bottom: 35px;
			@include media-breakpoint-up(sm){
				margin-bottom: rem(34);
				font-size: rem(21);
				max-width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
			@include media-breakpoint-up(xxl){
				max-width: 552px;
			}

			line-height: 1.6;
			font-weight: 400;

			span{
				font-weight: 600;
				color: $primary;
			}
		}
	}

	//
	&__{}
	&__{}
} // end.sWho