// start .sWho
.sWho {
	--sPT: #{rem(60)};
	--sPB: #{rem(60)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(114)};
		--sPB: #{rem(115)};
	}

	&__row{
		--bs-gutter-x: #{rem(30)};
	}
	&__col{
		&--right{
			@include media-breakpoint-up(xl){
				width: calc(455px + var(--bs-gutter-x))!important;
			}
		}
		&--left{
			@include media-breakpoint-up(xl){
				width: calc(100% - 455px - var(--bs-gutter-x)) !important;
			}
		}
	}
	&__img{
		display: block;
		border-radius: rem(27);
		overflow: hidden;

		img{
			width: 100%;
			height: auto;
		}
	}
	.section-title{
		&__img{
			display: block;
			border-radius: rem(27);
			overflow: hidden;

			img{
				width: 100%;
				height: auto;
			}

			margin-bottom: rem(30);
			@include media-breakpoint-up(md){
				margin-bottom: 0;
			}
		}

		p{
			margin-bottom: rem(27);
			&:last-child{
				margin-bottom: 0;
			}

			font-weight: 500;
			span{
				font-weight: 700;
				color: $warning;
			}
		}
	}

	//
	&__{}
	&__{}
} // end.sWho