mixin sWho(data)
	// start sWho
	+b.SECTION.sWho.section#sWho&attributes(attributes)
		.container.text-md-start.text-center
			+e.row.row.gy-4.align-items-center
				+e.col--left.col-md-8
					+b.section-title.pb-0
						if data.lang === 'en'
							h2 Who we are
						if data.lang === 'ua'
							h2 Хто ми
						+e.img.d-md-none
							img(loading="lazy" src="img/@2x/sWho-img.png" alt="")
						if data.lang === 'en'
							p We are Ukrainians who cannot stay away from the genocide taking place in our country.
							p
								| arTemple is a
								|
								span 100% non-profit initiative
								|
								| aimed at supporting people who have suffered from a terrible war happening in Ukraine right now as you’re reading this message.
						if data.lang === 'ua'
							p Ми українці, які не можуть бути осторонь геноциду, що зараз відбувається на нашій землі.
							p
								| arTemple - це
								|
								span 100% некомерційна ініціатива
								|, спрямована на підтримку української армії та людей, які постраждали від жахливої війни, що відбувається в Україні у цю мить, коли ви читаєте ці слова.
				+e.col--right.col-md-4.d-none.d-md-block
					+e.img
						img(loading="lazy" src="img/@2x/sWho-img.png" alt="")
	// end sWho