:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}

.carousel__button.is-close{
	top: 20px!important;
	right: 20px!important;

	svg{
		stroke:  #BCBCBC;
		filter: none;
		stroke-width: 3px;
		width: rem(30);
		height: rem(30);
	}
}
.modal-win {
	box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
	border-radius: rem(27);
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	// min-height: 100%;

	width: rem(900px);
	padding: rem(60) rem(20);
	@include media-breakpoint-up(xl){
		width: rem(1134px);
		padding: rem(60) rem(146);
	}

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	.form-wrap{
		&__main-title{
			margin-bottom: rem(30);
			@include media-breakpoint-up(xl){
				margin-bottom: rem(45);
			}
			h2{
				line-height: calc(55/44);
				color: $black;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&__row{
			--bs-gutter-x: #{rem(30)};
		}
		&__col{

		}
		&__item{
			max-width: rem(260);
			margin: 0 auto;
			display: block;

			&:hover{
				--btn-bg: #{$blue};
				--btn-col: #{$white};

				--box-bg: #{$white};
				--box-shdw: #{0px 0px 30px rgba(0, 0, 0, 0.25)};
				--title-col: #{$black};
				--underline-scale: 1;
			}
		}
		&__box{
			@include mt();
			position: relative;
			width: 100%;
			padding-top: 100%;
			height: 0;
			margin-bottom: rem(25);
			border-radius: rem(27);

			background: var(--box-bg, #{$gray-100});
			box-shadow: var(--box-shdw, #{0px 0px 10px rgba(0, 0, 0, 0.25)});

			img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);

				width: auto;
				height: auto;

				max-width: calc(100% - #{rem(40)});
				max-height: calc(100% - #{rem(40)});
				@include media-breakpoint-up(xl){
					max-width: calc(100% - #{rem(70)});
					max-height: calc(100% - #{rem(70)});
				}
			}
		}
		&__title-box{
			color: var(--title-col, #{$gray-600});
			display: block;

			margin-bottom: rem(25);
			@include media-breakpoint-up(md){
				margin-bottom: rem(40);
			}
		}
		&__title{
			@include mt();
			display: inline-block;
			font-weight: 600;
			font-size: rem(24);
			line-height: calc(30/24);

			margin-bottom: rem(10);
			&:last-child{
				margin-bottom: 0;
			}

			position: relative;
			&:after{
				@include mt();
				content: '';
				transform-origin: center;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: currentColor;
				transform: scaleX(var(--underline-scale, 0));
			}
		}
		&__descr{
			font-size: rem(16);
			line-height: calc(23/16);
			color: #000000;
		}
		&__btn{
			@extend .btn;
			@extend .btn-primary;

			min-width: rem(261);
			@include media-breakpoint-up(sm){
				min-width: 100%;
			}

			background-color: var(--btn-bg, #{$gray-650});
			border-color: var(--btn-bg, #{$gray-650});
			color: var(--btn-col, #{$gray-410});

			box-shadow: 0px 2px 4px rgba(195, 181, 204, 0.38) !important;
			&:hover{
				box-shadow: 0px 2px 4px rgba(195, 181, 204, 0.38) !important;
			}
		}
		&__{}
		&__{}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}


