mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+pic('headerBlock-bg.png')(class="headerBlock__bg")
		.container
			.row.gy-4
				.col-md
					+b.section-title
						h1
							| arTemple.
							br
							| Created by Ukrainians
							br
							| and for Ukrainians.
						p
							| Inspired by what we see, what we feel,
							| what&nbsp;we fight for and what we fight against.
					+e.btn(href="#") SUPPORT
				.col-md-auto
					+soc()
	// end headerBlock