mixin headerBlock(data)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+pic('headerBlock-bg.png')(class="headerBlock__bg")
		.container
			.row.gy-4
				.col-md
					+b.section-title
						if data.lang === 'en'
							h1
								| arTemple.
								br
								| Created by Ukrainians
								br
								| and for Ukrainians.
							p
								| Inspired by what we see, what we feel,
								| what&nbsp;we&nbsp;fight for and what we fight against.
						if data.lang === 'ua'
							h1
								| arTemple.
								br
								| Створено українцями.
								br
								| Для українців.
							p Нас надихає те, що ми бачимо, що відчуваємо, за що боремося та проти чого б’ємося.
					.mb-4.d-md-none
						+soc()
					.row.gx-3.gy-3
						.col-sm-6.col-md-auto
							if data.lang === 'en'
								+e.btn.btn-warning(href="https://opensea.io/arTemplearTemple" target="_blank") SUPPORT
							if data.lang === 'ua'
								+e.btn.btn-warning(href="https://opensea.io/arTemplearTemple" target="_blank") ПІДТРИМАТИ
						.col-sm-6.col-md-auto
							if data.lang === 'en'
								+e.btn.btn-primary(href="#sHelp") FIND OUT MORE
							if data.lang === 'ua'
								+e.btn.btn-primary(href="#sHelp") ДІЗНАТИСЯ БІЛЬШЕ
				.col-md-auto.d-none.d-md-block
					+soc()
	// end headerBlock