// start .headerBlock
.headerBlock {
	--sPT: 132px;
	--sPB: 164px;
	--sTPB: 34px;
	@include media-breakpoint-up(sm){
		--sPB: #{rem(120)};
	}
	@include media-breakpoint-up(lg){
		--sPT: #{rem(223)};
		//--sPB: #{rem(60)};
		--sTPB: #{rem(48)};
	}
	@include media-breakpoint-up(xxl){
		--sPT: #{rem(260)};
		--sPB: #{rem(60)};
		--sTPB: #{rem(48)};
	}

	position: relative;
	z-index: 1;
	overflow: hidden;

	@include media-breakpoint-up(xl){
		min-height: min(700px, 100vh);
	}
	@include media-breakpoint-up(xxl){
		min-height: min(853px, 100vh);
	}

	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//border-radius: 50%;
		//overflow: hidden;

		img{
			width: 100%;
			height: calc(100% - 1px);
			object-fit: cover;
		}
		&:after{
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			//background: linear-gradient(180deg, rgba(82, 93, 208, 0.65) 14.4%, rgba(255, 209, 1, 0.2145) 69.9%);
			background: linear-gradient(93.91deg, rgba(65, 90, 120, 0.3) 32.98%, rgba(255, 209, 1, 0.078) 80.99%), linear-gradient(161.7deg, rgba(113, 169, 235, 0.6075) 14.66%, rgba(255, 209, 1, 0.2475) 67.49%);
		}

		&:before{
			content: '';
			position: absolute;
			z-index: 2;
			bottom: -1px;
			left: 50%;
			transform: translateX(-50%);
			min-width: calc(100vw + 6px);

			width: 375px;
			height: 111px;
			background-image: url(../img/svg/headerBlock-cover-sm.svg);
			@include media-breakpoint-up(sm){
				background-image: url(../img/svg/headerBlock-cover.svg);
				width: 1920px;
				height: 166px;
			}
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

	}

	&__main-row{
		--bs-gutter-y: 45px;
	}
	.section-title{
		@include media-breakpoint-up(xxl){
			padding-top: 20px;
		}

		color: $white;
		h1{
			font-weight: bold;
			line-height: calc(68/54);
			margin-bottom: rem(25);

			@include media-breakpoint-down(sm){
				margin-bottom: 15px;
				font-size: 36px;
				line-height: calc(45/36);
			}
		}
		p{
			max-width: 447px;

			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(md){
				margin-left: 0;
				margin-right: 0;
			}

			font-size: 18px;
			@include media-breakpoint-up(sm){
				font-size: inherit;
			}

			font-weight: 500;
			line-height: calc(27/20);
			color: $white;
		}
	}
	&__btn{
		@extend .btn;
		//@extend .btn-warning;
		min-width: 146px;
		@include media-breakpoint-up(sm){
			min-width: 100%;
		}
		@include media-breakpoint-up(md){
			min-width: rem(202);
		}

		padding: rem(16.5) rem(40);
	}
	.soc{
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-breakpoint-up(md){
			display: block;
		}

		@include media-breakpoint-up(xl){
			padding-top: rem(50);
		}

		&__item{
			@include mt();
			&:hover{
				transform: scale(1.2);
			}

			width: rem(36);
			height: rem(36);

			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: 100%;
				height: auto;
			}

			margin: 0 rem(15) 0 0;
			@include media-breakpoint-up(md){
				margin: 0 0 rem(15);
			}

			&:last-child{
				margin: 0;
			}
		}
	}

	//
	&__pdf-link{
		padding-top: rem(15);
		font-weight: 400;
		font-size: rem(16);
		color: $white;

		a{
			color: $white!important;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}

		}

	}
	&__{}
	&__{}
	&__{}
}

// end.headerBlock