mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span

mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo(href="#")
				img(loading="lazy" src="img/svg/logo.svg" alt="")
			+mnu()
	//  мобильное меню

mixin top-nav(data)
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row.align-items-center
				.col
					+e.logo(href="#")
						img(loading="lazy" src="img/svg/logo-3.svg" alt="")
				.col-auto.d-none.d-lg-block
					+e.menu
						if data.lang === "en"
							+mnu()
						if data.lang === "ua"
							+mnuUa()
				.col-auto.d-lg-none
					+e.menu
						ul
							if data.lang === "en"
								li: a(href="https://opensea.io/arTemple") purchase NFT
							if data.lang === "ua"
								li: a(href="https://opensea.io/arTemple") Придбати NFT
				.col-auto
					+e.langs-box
						+e.inner
							if data.lang === "en"
								span EN
							if data.lang === "ua"
								span UA
						+e.dd
							+topNavItem('EN', '/')
							+topNavItem('UA', '/ua.html')
				.col-auto.d-lg-none
					+menu-toggle()
	// end top-nav

mixin topNavItem(txt, href="")
	+e.lang-item(href=href)=txt