mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span

mixin mob-mnu()
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo(href="/")
				img(loading="lazy" src="img/svg/logo.svg" alt="")
			+mnu()
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row.align-items-center
				.col
					+e.logo(href="/")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-auto.d-none.d-lg-block
					+e.menu
						+mnu()
				.col-auto
					+e.langs-box
						+e.inner
							span EN
						+e.dd
							+topNavItem('EN')
							+topNavItem('UA')
				.col-auto.d-lg-none
					+menu-toggle()
	// end top-nav

mixin topNavItem(txt)
	+e.lang-item(href="#")=txt