mixin sHelp(data)
	// start sHelp
	+b.SECTION.sHelp.section#sHelp&attributes(attributes)
		+pic('sHelp-bg.jpg')(class="sHelp__bg")
		.container.text-center.text-lg-start
			+b.section-title
				if data.lang === 'en'
					h2 Want to know how you can help?
					p All NFT objects in our temple are created by Ukrainians. They’re unique and have a common thread&nbsp;-&nbsp;war in Ukraine. You can purchase any of the existing objects or place a custom order.
				if data.lang === 'ua'
					h2 Як ви можете допомогти?
					p Усі NFT-об’єкти в arTemple створені українцями. Вони унікальні, проте об’єднані спільним досвідом – війною в Україні. Ви можете придбати будь-який з наявних NFT-об’єктів або оформити індивідуальне замовлення в одного з наших авторів.
			+e.row.row
				if data.lang === 'en'
					+sHelpItem(1, 'For creators', 'If you’re a creator from Ukraine and you’d like to support our army, refugees or volunteers, please contact us. Remember: anything you’ve created can be turned into real-life support for Ukrainians who need it.', data)
					+sHelpItem(2, 'For NFT* nerds', 'Every NFT object has to have a unique value, feature, story. So the punch line here is that every single NFT object in our temple is saving someone’s life.', data)
					+sHelpItem(3, 'Donate in other way', 'If you’re not a big fan of NFT or cryptocurrency, you can also donate to the official accounts of the Ukrainian Armed Forces or Ukrainian Volunteering Centre, but we’d prefer that you keep a symbol of our gratitude in NFT format.', data)
				if data.lang === 'ua'
					+sHelpItem(1, 'Для митців', 'Якщо ви автор з України, хочете підтримати нашу армію та розділяєте наші волонтерські цінності – напишіть нам. Пам’ятайте – все, що ви створюєте, можна перетворити на реальну підтримку українців, які цього потребують вже зараз.', data)
					+sHelpItem(2, 'Для шанувальників NFT', 'Кожен NFT-об’єкт повинен мати власну історію та цінність, тож в нашому arTemple кожен об’єкт – це реальна можливість зберегти чиєсь життя.', data)
					+sHelpItem(3, 'Допомогти в інший спосіб', 'Якщо ви не є шанувальником технології NFT чи криптовалюти, ви можете зробити пожертву безпосередньо на офіційні рахунки Збройних Сил України чи Українського волонтерського центра, проте ми б хотіли, аби ви отримали символ нашої вдячності у форматі NFT.', data)
			+e.read-more
				if data.lang === 'en'
					| *If you don’t know what is NFT - read
					|
					a(href="#") more information.
				if data.lang === 'ua'
					| * Якщо ви не знаєте, що таке NFT -
					|
					a(href="#") читайте детальну інформацію.
	// end sHelp

mixin sHelpItem(imgNum, title, descr, data)
	.col-lg-4
		+e.item.text-center(href="#")
			+e.ball
				img(loading="lazy" src=`img/@2x/sHelp-${imgNum}.png` alt="")
			+e.title=title
			+e.descr=descr
			if data.lang === 'en'
				+e.btn SUPPORT
			if data.lang === 'ua'
				+e.btn ДОПОМОГТИ