mixin sLiteraly(data)
	// start sLiteraly
	+b.SECTION.sLiteraly.section#sLiteraly&attributes(attributes)
		.container
			+b.section-title.text-center
				if data.lang === 'en'
					h2
						span.text-primary Literally. Saving. Human. Life.
						br
						span.text-warning Can anything beat that?
				if data.lang === 'ua'
					h2
						span.text-primary Буквально. Зберегти. Людське. Життя.
						br
						span.text-warning Чи може щось бути важливішим?
	// end sLiteraly