-
	var nav= { 
		"About Us":"#sWho",
		"Our mission":"#sMission",
		"Buy NFT":"#sHelp",
		"Offer help":"#sHelp",
		}
	var navUa = {
		"Про нас": "#sWho",
		"Наша місія": "#sMission",
		"Придбати NFT": "#sHelp",
		"Запропонувати допомогу": "#sHelp",
	}
-
//- WP menu

mixin mnu()
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)=linkName

mixin mnuUa()
	ul.menu
		each linkPatch, linkName in navUa
			li.menu-item: a(href=linkPatch)=linkName

//- menu