-
	var nav= { 
		"About Us":"#",
		"Our mission":"#",
		"Buy NFT":"#",
		"Offer help":"#",
		}
-
	//- var subnav= { 
	//- 	"Строительство загородных домов":"#",
	//- 	"Отделка загородных домов":"#",
	//- 	"Покраска деревянных домов":"#",
	//- 	"Штукатурные фасады загородных домов":"#" ,
	//- 	}
//- WP menu

mixin mnu()
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)=linkName

//- menu