-
	var nav= { 
		"About Us":"#sWho",
		"Our mission":"#sMission",
		"Buy NFT":"#sWhom",
		"Offer help":"#sHelp",
		}
-
	//- var subnav= { 
	//- 	"Строительство загородных домов":"#",
	//- 	"Отделка загородных домов":"#",
	//- 	"Покраска деревянных домов":"#",
	//- 	"Штукатурные фасады загородных домов":"#" ,
	//- 	}
//- WP menu

mixin mnu()
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)=linkName

//- menu