mixin item-sos(icon, a='#')
	+e.A.item(href=a target="_blank")
		img(loading="lazy" src=`img/svg/soc-${icon}.svg` alt="")
//- social buttons

mixin soc()
	+b.soc
		+item-sos('tw')
		+item-sos('fb')
		+item-sos('inst')
		+item-sos('tg')

//- /social buttons 