mixin item-sos(icon, a='#')
	+e.A.item(href=a target="_blank")
		img(loading="lazy" src=`img/svg/soc-${icon}.svg` alt="")
//- social buttons

mixin soc()
	+b.soc
		+item-sos('tw', 'https://twitter.com/artemple_ua?s=21')
		//-+item-sos('fb', '#')
		+item-sos('inst', 'https://instagram.com/artemple.ua?utm_medium=copy_link')
		//+item-sos('tg', '#')
		+item-sos('mail', 'mailto:artemple.ua@gmail.com')

//- /social buttons 